.container {
  font-family: "Mukta", sans-serif;
  text-align: center;
}
.weather-app {
  background: #e3f2fd;
  border: 1px solid #0d47a1;
  border-radius: 10px;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
}
.search-form {
  font-size: 30px;
}
.icon {
  height: 90px;
  width: 90px;
}
.temp-number {
  font-size: 60px;
  line-height: 1;
}
.units {
  position: relative;
  font-size: 16px;
  top: -30px;
}
.description {
  font-size: 20px;
}
.day-0 {
  border: 1px solid #0d47a1;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
}
.day-1 {
  border: 1px solid #0d47a1;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
}
.day-2 {
  border: 1px solid #0d47a1;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
}
.day-3 {
  border: 1px solid #0d47a1;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
}
.day-4 {
  border: 1px solid #0d47a1;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
}
.day-5 {
  border: 1px solid #0d47a1;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
}
h1 {
  font-size: 20px;
  padding-bottom: 15px;
}
h3 {
  line-height: 28px;
  font-size: 20px;
  font-weight: 100px;
  padding-bottom: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  text-transform: capitalize;
}
